<form [formGroup]="signUpForm" class="form" (ngSubmit)="signUp()">
    <div class="form-item">
        <input type="text" autofocus placeholder="Email" formControlName="email"
            [ngClass]="(submitted && f.email.errors) ? 'form__input error':'form__input' ">
        <div>
            <div *ngIf="submitted && f.email.errors" class="form__alert">
                <div *ngIf="f.email.errors.required">Email is required.</div>
                <div *ngIf="f.email.errors.email">Please enter valid email address.</div>
            </div>
        </div>
    </div>

    <div class="form-item">
        <input type="text" autofocus placeholder="Full name" formControlName="fullName"
            [ngClass]="(submitted && f.fullName.errors) ? 'form__input error':'form__input' ">
        <div>
            <div *ngIf="submitted && f.fullName.errors" class="form__alert">
                <div *ngIf="f.fullName.errors.required">Full name is required.</div>
            </div>
        </div>
    </div>

    <div class="form-item">
        <input type="password" autofocus placeholder="Password" formControlName="password"
            [ngClass]="(submitted && f.password.errors) ? 'form__input error':'form__input' ">
        <div>
            <div *ngIf="submitted && f.password.errors" class="form__alert">
                <div *ngIf="f.password.errors.required">Password is required.</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters.</div>
            </div>
        </div>
    </div>

    <div class="form-item">
        <input type="password" autofocus placeholder="Confirm password" formControlName="confirmPassword"
            [ngClass]="(submitted && f.confirmPassword.errors) ? 'form__input error':'form__input' ">
        <div>
            <div *ngIf="submitted && f.confirmPassword.errors" class="form__alert">
                <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match.</div>
            </div>
        </div>
    </div>
    <div *ngIf="registerMessage" [ngClass]="{'form__result success': registerMessage}">{{ registerMessage }}.</div>
    <div *ngIf="errorMessage" [ngClass]="{'form__result failure': errorMessage}">{{ errorMessage }}.</div>
    <input type="submit" name="submit" value="Sign up" class="form__button">
</form>